-i https://pypi.org/simple
asn1crypto==0.24.0
astroid==2.2.5
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
coverage==4.5.4
cryptography==2.7
defusedxml==0.6.0
django-allauth==0.39.1
django-cors-headers==3.1.0
django-rest-auth==0.9.5
django-rest-knox==4.1.0
django-rest-passwordreset==1.0.0
django==2.2.4
djangorestframework-simplejwt==4.3.0
djangorestframework==3.10.2
gunicorn==19.9.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
mysql-connector-python==8.0.17
oauthlib==3.1.0
protobuf==3.9.1
pycparser==2.19
pyjwt==1.7.1
pylint==2.3.1
python3-openid==3.1.0
pytz==2019.2
requests-oauthlib==1.2.0
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0 ; implementation_name == 'cpython'
urllib3==1.25.3
wrapt==1.11.2
