{% extends "accounts/base.html" %}
{% block content %}
<aside>
  <h2>Change Password</h2>
  <div>
    {% if validlink %}
    <article>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Submit</button>
      </form>
    </article>
    {% else %}
    <article>
      <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
      </p>
    </article>
    {% endif %}
  </div>
</aside>
{% endblock content %}
